@import 'bottom-bar';
@import 'menu';
@import 'canvas';
@import 'boxes';
@import 'headings';
@import 'buttons';
@import 'navigator';

body, html {
	padding: 0;
	margin: 0;
	overflow: hidden;
	font-family: 'Ubuntu', sans-serif;
}

* {
	image-rendering: pixelated; // fallback
	image-rendering: crisp-edges;
	-webkit-image-rendering: crisp-edges;
}
