.line-navi-selection {
	width: 100%;
	background-color: #FAFAFA;
	border-top: 1px solid #C8C8C8;
	height: 1px;
	position: relative;
	margin-top: 6px;

	&:before, &:after {
		left: 24px;
		transition: left 0.3s ease-in-out;
	}

	&:before {
		content: ' ';
		width: 0;
		height: 0;
		border-left: 7px solid transparent;
		border-right: 7px solid transparent;
		border-bottom: 7px solid #C8C8C8;
		position: absolute;
		top: -7px;
	}

	&:after {
		content: ' ';
		width: 0;
		height: 0;
		border-left: 7px solid transparent;
		border-right: 7px solid transparent;
		border-bottom: 7px solid #E2E2E2;
		position: absolute;
		top: -6px;
	}
}
